<div class="header-container">
    <div class="header-actions">
        <a href="/home/" class="btn">Home</a>
        <a href="/vault/" class="btn">Vault</a>
        {% if authenticated != 0 %}
            <a href="/vault/edit/" class="btn">Edit</a>
        {% endif %}
        {% if authenticated == 0 %}
            <a href="/login/" class="btn btn-primary">Login</a>
            <a href="/register/" class="btn btn-secondary">Register</a>
        {% else %}
            <a href="/logout/" class="btn btn-logout">Logout</a>
        {% endif %}
    </div>
</div>