* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    min-height: 100vh;
    font-size: 3rem;
    place-content: center;
    display: grid;
}

h1, p {
    margin-bottom: 20px;
    text-align: center;
}