<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager - Logout</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'form-styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
</head>
<body class="form-page">
    <div class="form-container">
        <div class="form-title">
            <h1>Password Manager</h1>
        </div>

        <h2 class="form-subtitle">Logout</h2>

        <div class="form-content">
            <p>Are you sure you want to logout?</p>

            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                <button type="submit" class="form-button">Logout</button>
            </form>
        </div>

        <div class="form-footer">
            <p><a href="{% url 'home' %}">Cancel</a></p>
        </div>
    </div>
</body>
</html>
