<head>
    <title>Password Manager - Item Creation</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'form-styles.css' %}">
</head>
<div class="form-container">
    <button onclick="closePopup()" class="close-button">&times;
    </button>
    <div class="form-title" style="display: flex; justify-content: space-between; align-items: center;">
        <h1>Item Creation</h1>
    </div>

    <h2 class="form-subtitle">Add a Vault Item</h2>

    <!-- Display error/success messages -->
    {% if messages %}
    <div class="alert alert-primary" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    <!-- Item creation form -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Item-name input field -->
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name"
                   placeholder="Enter the Items name" required>
        </div>
        <!-- Item-username input field -->
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username"
                   placeholder="Enter the Items username" required>
        </div>

        <!-- Password input field -->
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password"
                   placeholder="Enter the password to store" required>
        </div>

        <!-- Submit button -->
        <button type="submit" class="form-button">Create Item</button>
    </form>
</div>

