<head>
    <title>Password Manager - Item Edit</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'form-styles.css' %}">
</head>
<div class="form-container">
    <button onclick="closePopup()" class="close-button">&times;
    </button>
    <div class="form-title" style="display: flex; justify-content: space-between; align-items: center;">
        <h1>Item Edit</h1>
    </div>

    <h2 class="form-subtitle">Edit Vault Item {{ item.name }} </h2>

    <!-- Display error/success messages -->
    {% if messages %}
    <div class="alert alert-primary" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    <!-- Item edit form -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Hidden field for item ID -->
        <input type="hidden" name="id" value="{{ item.id }}">

        <!-- Item-name input field -->
        <div class="form-group">
            <label for="name-{{ item.id }}">Name</label>
            <input type="text" class="form-control" name="name" id="name-{{ item.id }}"
                   placeholder="Enter the Items name" value="{{ item.name }}">
        </div>
        <!-- Item-username input field -->
        <div class="form-group">
            <label for="username-{{ item.id }}">Username</label>
            <input type="text" class="form-control" name="username" id="username-{{ item.id }}"
                   placeholder="Enter the Items username" value="{{ item.username }}">
        </div>

        <!-- Password input field -->
        <div class="form-group">
            <label for="password-{{ item.id }}">Password</label>
            <input type="password" name="password" class="form-control" id="password-{{ item.id }}"
                   placeholder="Enter the password to store" value="{{ item.password }}">
        </div>

        <!-- Submit button -->
        <button type="submit" class="form-button">Update Item</button>
    </form>
</div>
